@model IEnumerable<ProyectoEsteSi.Models.Dosi>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.Pacientes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vacunas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.restante)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.Pacientes.Nombre_nino)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vacunas.Nombre_vacuna)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.restante)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdDosis">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdDosis">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdDosis">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
