@model Vacunas_sis.Models.Vacunas

@{
    ViewData["Title"] = "Details";
}

<h1 style="text-align:center">Detalles de vacuna:</h1>

<div>
    <hr />
    <div style="display:flex; justify-content:center">
        <div class="form-group">
            <label class="control-label" style="font-weight:bold"> @Html.DisplayNameFor(model => model.Nombre_vacuna)</label>
            <span class="text">@Html.DisplayFor(model => model.Nombre_vacuna)</span>
            <br />
            <label class="control-label" style="font-weight:bold"> @Html.DisplayNameFor(model => model.Abreviatura_vacuna)</label>
            <span class="text">@Html.DisplayFor(model => model.Abreviatura_vacuna)</span>
            <br />
            <label class="control-label" style="font-weight:bold">  @Html.DisplayNameFor(model => model.Dosis_aplicables)</label>
            <span class="text">@Html.DisplayFor(model => model.Dosis_aplicables)</span>
            <br />
            <label class="control-label" style="font-weight:bold"> @Html.DisplayNameFor(model => model.Edad_aplicable)</label>
            <span class="text">@Html.DisplayFor(model => model.Edad_aplicable)</span>
            <br />
        </div>
    </div>
</div>
<div style="display:flex; justify-content:center">
    <a asp-action="Edit" asp-route-id="@Model.Id_vacuna" class="btn btn-primary"><i class="fa fa-pencil" aria-hidden="true"></i> Editar</a> |
    <a asp-action="Index" class="btn btn-danger"><i class="fa fa-times-circle" aria-hidden="true"></i> Cancelar</a>
</div>
