@model IEnumerable<Vacunas_sis.Models.Vacunas>

@{
    ViewData["Title"] = "Index";
}

<h1 style="text-align:center">Información vacunas</h1>

<p>
    <a asp-action="Create" class="btn btn-primary ml-3"><i class="fa fa-plus-circle" aria-hidden="true"></i> Ingreso de nueva vacunas</a>
</p>
<table class="table ml-3">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre_vacuna)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Abreviatura_vacuna)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dosis_aplicables)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Edad_aplicable)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre_vacuna)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Abreviatura_vacuna)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dosis_aplicables)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Edad_aplicable)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id_vacuna" class="btn btn-info"><i class="fa fa-pencil" aria-hidden="true"></i> Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id_vacuna" class="btn btn-success"><i class="fa fa-info-circle" aria-hidden="true"></i> Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.Id_vacuna" class="btn btn-danger" ><i class="fa fa-trash-o" aria-hidden="true"></i> Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
