@model ProyectoEsteSi.Models.Informacion_paciente

@{
    ViewData["Title"] = "Delete";
}

<br />
<h1 style="text-align:center">Eliminar Información del paciente:</h1>

<h3 class="text-danger" style="text-align:center">¿Esta seguro(a) de querer eliminar este registro?</h3>

<div>
    <hr />
    <div style="display:flex; justify-content:center">
        <div style="display:flex; justify-content:center">
            <div class="form-group">
                <b>Número de identidad:</b>
                <span class="text">@Html.DisplayFor(model => model.Numero_identidad)</span>
                <br />
                <b>Nombre completo del paciente:</b>
                <span class="text">@Html.DisplayFor(model => model.Nombre_nino)</span>
                <br />
                <b>Nombre persona responsable:</b>
                <span class="text">@Html.DisplayFor(model => model.Nombre_responsabe)</span>
                <br />
                <b>Fecha de nacimiento:</b>
                <span class="text">@Html.DisplayFor(model => model.Fecha_nacimineto)</span>
                <br />
                <b>Edad de captación:</b>
                <span class="text">@Html.DisplayFor(model => model.Edad_cap)</span>
                <br />
                <b>Número de contacto:</b>
                <span class="text"> @Html.DisplayFor(model => model.Contacto)</span>
                <br />
                <b>Dirección:</b>
                <span class="text"> @Html.DisplayFor(model => model.Direcciones.Detalle_direccion)</span>
                <br />
            </div>
        </div>

    </div>

    <form style="display:flex; justify-content:center" asp-action="Delete">
        <input type="hidden" asp-for="Id_nino" />
        <button class="btn btn-danger"><i class="fa fa-trash-o" aria-hidden="true"></i> Eliminar</button>| |
        <a asp-action="Index" class="btn btn-warning"><i class="fa fa-times-circle" aria-hidden="true"></i> Cancelar</a>
    </form>
</div>
