@model IEnumerable<ProyectoEsteSi.Models.Informacion_paciente>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Numero_identidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre_nino)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre_responsabe)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fecha_nacimineto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Edad_cap)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contacto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Direcciones)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Numero_identidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre_nino)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre_responsabe)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha_nacimineto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Edad_cap)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contacto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Direcciones.Id_direccion)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id_nino">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id_nino">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id_nino">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
