@model Vacunas_sis.Models.Contacto

@{
    ViewData["Title"] = "Details";
}
<link href="~/css/site.css" rel="stylesheet" />
<h1 style="text-align:center">Detalles de contacto:</h1>
<br />

<div>

    <hr />
    <div style="display:flex; justify-content:center">
        <div class="form-group">
            <label class="control-label" style="font-weight:bold"> @Html.DisplayNameFor(model => model.Nombre_responsable)</label>
            <span class="text">@Html.DisplayFor(model => model.Nombre_responsable)</span>
            <br />
            <label class="control-label" style="font-weight:bold"> @Html.DisplayNameFor(model => model.Tipo_de_contacto)</label>
            <span class="text">@Html.DisplayFor(model => model.Tipo_de_contacto)</span>
            <br />
            <label class="control-label" style="font-weight:bold"> @Html.DisplayNameFor(model => model.Detalle)</label>
            <span class="text">@Html.DisplayFor(model => model.Detalle)</span>
            <br />
        </div>
    </div>
</div>

<div style="display:flex; justify-content:center">
    <a asp-action="Edit" asp-route-id="@Model.Id_contacto" class="btn btn-primary"><i class="fa fa-pencil" aria-hidden="true"></i> Editar</a> |
    <a asp-action="Index" class="btn btn-danger"><i class="fa fa-times-circle" aria-hidden="true"></i> Cancelar</a>
</div>
