@model IEnumerable<ProyectoEsteSi.Models.Dosi>

@{
    Layout = null;
}

@{
    ViewData["Title"] = "ProximaPDF";
}


<!DOCTYPE html>

<html>

    <head>

         <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />

    </head>



<body>
      <div class="row main-header1 align-content-center">
        <div class="col-auto ">
            <img src="~/lib/gobhn.png" class="mx-auto d-block" />
        </div>
   

    </div>

    	<div class="col-12 main-header1 align-content-center " >
		 
            <div>
                <center><span><h3 class="text-white" > Proxima vacunas </h3> </span></center>	
            </div>
            <div>

            </div>

   
    </div>




<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.restante)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pacientes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pacientes.Numero_identidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pacientes.Contacto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vacunas)
            </th>
            <th>
                <b>Proxima dosis:</b>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.restante)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Pacientes.Nombre_nino)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Pacientes.Numero_identidad)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Pacientes.Contacto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Vacunas.Nombre_vacuna)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Citas.SingleOrDefault().Fecha_proxima)
                </td>
            </tr>
        }
    </tbody>
</table>
</body>
</html>
