@model IEnumerable<ProyectoEsteSi.Models.Vacuna>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre_vacuna)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Abreviatura_vacuna)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dosis_aplicables)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Edad_aplicable)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre_vacuna)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Abreviatura_vacuna)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dosis_aplicables)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Edad_aplicable)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id_vacuna">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id_vacuna">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id_vacuna">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
