@model ProyectoEsteSi.Models.Dosi

@{
    ViewData["Title"] = "Details";
}

<br />
<h1 style="text-align:center">Editar nueva dosis:</h1>

<div>
    <hr />

    <div style="display:flex; justify-content:center">
        <div class="form-group">
            <b>Nombre completo del paciente:</b>
            <span class="text">@Html.DisplayFor(model => model.Pacientes.Nombre_nino)</span>
            <br /><br />
            <b>Número de identidad del paciente:</b>
            <span class="text">@Html.DisplayFor(model => model.Pacientes.Numero_identidad)</span>
            <br /><br />
            <b>Nombre de la vacuna aplicada:</b>
            <span class="text">@Html.DisplayFor(model => model.Vacunas.Nombre_vacuna)</span>
            <br /><br />
            <b>Número de dosis restantes:</b>
            <span class="text">@Html.DisplayFor(model => model.restante)</span>
            <br /><br />   
        </div>
    </div>
</div>
<div style="display:flex; justify-content:center">
    <a asp-action="Edit" asp-route-id="@Model.IdDosis" class="btn btn-success"><i class="fa fa-pencil" aria-hidden="true"></i> Editar</a> |
    <a asp-action="Index" class="btn btn-danger"><i class="fa fa-times-circle" aria-hidden="true"></i> Cancelar</a>
</div>
