@model Vacunas_sis.Models.Registro

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Registro</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Numero_historia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Numero_historia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ninos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ninos.Edad_cap)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Detalles)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Detalles.Numero_dosis_aplicada)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id_registro">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
