@model IEnumerable<Vacunas_sis.Models.Detalle_Vacuna>

@{
    ViewData["Title"] = "Index";
}

<h1 style="text-align:center">Detalles de vacunas</h1>

<p>
    <a asp-action="Create" class="btn btn-primary ml-3"><i class="fa fa-plus-circle" aria-hidden="true"></i> Ingresar nuevo registro</a>
</p>
<table class="table ml-3">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Fecha_aplicacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Numero_dosis_aplicada)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Numero_dosis_restantes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fecha_proxima_dosis)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vacunas)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha_aplicacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Numero_dosis_aplicada)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Numero_dosis_restantes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha_proxima_dosis)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vacunas.Nombre_vacuna)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id_detalle_vacuna" class="btn btn-info"><i class="fa fa-pencil" aria-hidden="true"></i> Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id_detalle_vacuna" class="btn btn-success"><i class="fa fa-info-circle" aria-hidden="true"></i> Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.Id_detalle_vacuna" class="btn btn-danger" ><i class="fa fa-trash-o" aria-hidden="true"></i> Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
