@model Vacunas_sis.Models.Informacion_nino

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Informacion_nino</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Numero_identidad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Numero_identidad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre_nino)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre_nino)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre_responsabe)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre_responsabe)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fecha_nacimineto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fecha_nacimineto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Edad_cap)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Edad_cap)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Contactos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Contactos.Id_contacto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Direcciones)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Direcciones.Id_direccion)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id_nino">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
